{{#each this}}
<li class="card__item" >
    <div class="card__img">       
        <img  src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{poster_path}}" alt="{{title}}"
          />           
    </div>

    <div class="card__info">
        <h3 class="card__info_name">{{title}}</h3>

        <p class="card__info_genre"><p>
    </div>
</li>
{{/each}}
