html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}





header {
    max-width: 1024px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;


    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../img/baner.png');
    background-repeat: no-repeat;
    background-position: center;

}


.header__container {
    margin-left: auto;
    margin-right: auto;
    padding: 41px 0 60px 0;

    border: 1px solid red;

    width: 882px;
    height: 100%;

}

/* логотип */
#logo{
    display: flex;
        align-items: flex-end;
}
.logo {

    font-size: 30px;
    line-height: 1.16;

    color: #FFFFFF
}

.logo__svg {
    display: inline-block;
}




/* навигация */
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 37px;
}

.nav__list {
    display: flex;
}

.nav__list_item:not(:last-child) {
    margin-right: 39px;
}

.nav__list_link {
    line-height: 1.16;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* подчеркивание текущей страници  */
.current {
    position: relative;
}

.current::after {
    content: ' ';
    position: absolute;
    top: 14px;
    left: 0px;
    width: 100%;


    border: 1.5px solid #FF6B08;
    background-color: #FF6B08;

}



/* форма инпут */
.header__form {
    display: flex;
    justify-content: center;
}

.search__form {
    position: relative;
}

.search__form_input,
.search__form_input:focus {


    width: 336px;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #FFFFFF;
    background-color: transparent;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF
}

.search__form_input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF
}

/* иконка поиска */
.btn__search {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    top: 0;


    background-color: transparent;
    border: none;
    background: url('../img/search.svg');
    background-repeat: no-repeat;
    background-size: 100%;

}





/* кнопки */
.is-active {
    display: none;
}

.button_list {

    display: flex;
    justify-content: center;
}

.button_list-item:not(:last-child) {
    margin-right: 15px;
}

.not-active {
    min-width: 136px;
    padding: 14px 38px 12px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;

    line-height: 1.33;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button_list-item:hover .not-active {
    border: 1px solid transparent;

    background: #FF6B01;
}

/* library */

.my__library {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../img/myLibrary.png');
}

/* main */

.home {
    max-width: 882px;
   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    

}

.my-library {
    display: none;
    max-width: 882px;

    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    border: 1px solid red;

}
.visually-hidden {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    border: none;
    overflow: hidden;
}
.cadr-list{
display: flex;
flex-wrap: wrap;
margin: -15px -15px 0 -15px;
}

/* карточка товара */
.card__item{
width: 274px;
min-height: 439px;
margin: 15px;
/* border: 1px solid black; */
}
.card__img{
width: 274px;
height: auto;
margin-bottom: 10px;

}
.card__info_name{
line-height: 1.17;
color: #000000;
}
.card__info_genre{
line-height: 1.33;



color: #FF6B08;
}

/* пагинация */
.pagination {
    max-width: 882px;
   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.pagination__list{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.pagination__item{
    display: inherit;
    justify-content: center;
    align-items: center; 


    cursor: pointer;

    font-size: 12px;
    line-height: 1,33;

    margin-right: 16px;
  
    
   
}
.item__active{
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #FF6B08;
}
.pagination__btn{
    min-width: 40px;
    height: 40px;
    
    background-repeat: no-repeat;
    background-position: center;
}
.next{
    background-image: url('../img/arrow-right.svg');
}
.prev{
    margin-right: 16px;
    background-image: url('../img/arrow-left.svg');
}
.pagination__dots{
    font-size: 12px;
    line-height: 1,33;

    margin-right: 16px;
}
/* footer */
footer {
  

    background: #E5E5E5;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
        margin-left: auto;
            margin-right: auto;
            
    height: 77px;
    border: 1px solid red;

    
}

.footer__text {
    margin-right: 10px;

    font-weight: 400;
    line-height: 1.19;

    color: #545454
}

.footer__svg {
    margin-right: 10px;
}

.footer__link {
    text-decoration: underline;
    font-weight: 400;
    line-height: 1.19;

    color: #545454
}