/* карточка товара */
 .card__item {
  width: 274px;
  min-height: 439px;
  margin: 15px;
    transform: translate(0%, 0%) scale(1);
    @extend %transition;
        box-shadow:0.25s ease;
      
      &:hover {
        transform: translate(0%, 0%) scale(1.07);
        @extend %transition;
        box-shadow: 0px 5px 10px 5px rgba(34, 60, 80, 0.2),
          0px -5px 10px -5px rgba(34, 60, 80, 0.2);
      }
}
.card__img {
  width: 274px;
  height: 398px;
  margin-bottom: 10px;
  &img {
    object-fit: fill;
  }
}

.card__info_name {
  line-height: 1.17;
  color: $primery-text-color;
}
.card__info_genre {
  line-height: 1.33;

  color: $accent-color;
} 