/* карточка товара */
 .card__item {
  width: 274px;
  min-height: 439px;
  margin: 15px;
}
.card__img {
  width: 274px;
  height: 398px;
  margin-bottom: 10px;
  &img {
    object-fit: fill;
  }
}

.card__info_name {
  line-height: 1.17;
  color: $primery-text-color;
}
.card__info_genre {
  line-height: 1.33;

  color: $accent-color;
} 